.LegendRoot-root-102 {
    margin: 0 !important;
    display: flex ;
    padding: 22px !important;
    flex-wrap: wrap !important;
    height:15vh !important;
    
}


.makeStyles-widgetBody-93 {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    height: 100vh !important;
}
.Component-root-134 {
height: 95vh !important;
}